// Variables
$green: #5bbd72;
$yellow: #f2c61f;
$red: #d01919;

.angular-google-map-container {
  height: rem-calc(400);
}

.pswp__bg {
  background-color: rgba(246, 246, 246, 0.5);
}

.pswp__caption__center {
  color: #fff;
}

.controls {
  .label:hover {
    cursor: pointer;
  }
}

.marker-labels {
  .u-size {
    border-radius: 10px;
    padding: 3px;
    color: #fff;
    background-color: $green;
    font-size: 10px;
    text-align: center;
    white-space: nowrap;
    width: 20px;
    position: relative;
  }

  .u-cover {
    border: 1px solid #fff;
    width: 46px;
    height: 46px;
    margin-left: -38px;
    margin-top: -10px;
  }
}

.b-user-actions {
  h1, h2, h3, h4, h5 {
    font-weight: normal;
  }

  button {
    font-weight: normal;
  }

  .field {
    padding-left: 30px;
    padding-right: 30px;
  }

  .unfocus {
    opacity: .2;
  }
}

#map-render {
  position: relative;
  padding: 0;

  #logo {
    position: absolute;
    bottom: 50px;
    right: 35px;
    z-index: 9;

    img {
      height: 100px;
    }
  }

  .view-ui.item {
    color: rgba(255,255,255,.9);
    background-color: rgba(102, 102, 102, .2);
    position: absolute;
    cursor: pointer;
    top: 0;
    display: inline-block;
    padding: .78571em .95em;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity .2s ease,background .2s ease,box-shadow .2s ease;
    transition: opacity .2s ease,background .2s ease,box-shadow .2s ease;
    z-index: 9;

    &:hover {
      background-color: #666;
      opacity: .8;
    }
  }
}

#upload-button {
  position: relative;

  input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
  }
}

.uploader-item {
  padding: 0 1px 1.25rem !important;
  position: relative;

  .controls {
    text-align: center;
    height: 25px;
    margin-bottom: 10px;

    i {
      color: #fff;
    }

    .pointing.trash {
      &:hover {
        background-color: $red;
      }
    }

    .pointing.thumbs {
      &:hover {
        cursor: default;
      }
    }

    .pointing.thumbs.admin {
      &:hover {
        background-color: $yellow;
      }
    }
  }

  .image-wrap {
    position: relative;
  }

  .image {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .2);
    display: inline-block;
    line-height: 0;
    max-width: 100%;
    transition: all 200ms ease-out;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 0 8px rgba(255, 255, 255, .8);
    }

    &.selected {
      box-shadow: 0 0 0 8px rgba(255, 255, 255, .8);
    }
  }

  .dimmer {
    width: 100px;
    height: 100px;
  }

  .ui.ribbon.label {
    position: absolute;
    left: -10px;
    top: 0;
  }

  .description {
    height: 50px;
    font-size: 10px;
    line-height: 10px;
    padding: 5px;
    background-color: #fff;
    color: #999;
  }
}

.ui {

  &.dimmer.modals {
    background: rgba(255, 255, 255, 0.65);
  }

  &.modal {
    box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.03);

    > .header, .actions {
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.02)) #ffffff;
      border-top: none;
      border-bottom: none;
    }
  }
}

// Angular
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
